<% layout('layouts/boilerplate') %> 
<section class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-center text-danger h4 fw-bold">User Login</h5>
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" id="username" required
                                placeholder="username" autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="password" required
                                placeholder="Password">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn d-grid gap-2 btn-block btn-success">Log In</button>
                            <p class="text-center h6">
                                <a href="/register" class="link-primary">Don't have an account, Sign Up</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
    